body {
    background-color: #333; /* Dark gray background */
    text-align: center;
    color: #fff; /* White text color */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Lighting effect */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack items vertically */
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto; /* Center horizontally */
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2); /* Light gray shadow */
    margin: 0 0.75vmin; /* Adjust margin for spacing between boxes */
    font-size: 8vmin;
    color: #fff; /* White text color */
    background-color: #800000; /* Dark red box background */
}

#newBtn,
#Reset {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #800000; /* Dark red button background */
    color: #fff; /* White text color */
    border-radius: 1rem;
    border: none;
    margin-top: 0.5rem; /* Add some margin to separate from other elements */
    margin-bottom: 1.5rem; /* Add some margin to separate from other elements */
}

#msg {
    color: #fff; /* White text color */
    font-size: 8vmin;
    margin-top: 3rem; /* Adjusted margin for spacing from the game board */
    margin-bottom: 0.5rem; /* Adjusted margin for spacing from the game board */
}

.Msg-container {
    height: 30vmin;
    margin-top: 2rem; /* Add margin to separate from other elements */
}

.hide {
    display: none;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .game {
        height: 50vmin;
        width: 50vmin;
    }

    .box {
        height: 15vmin;
        width: 15vmin;
        font-size: 6vmin;
        margin: 0 0.5vmin; /* Adjust margin for spacing between boxes */
    }

    #msg {
        font-size: 6vmin;
    }

    .Msg-container {
        height: 20vmin;
    }

    #newBtn,
    #Reset {
        margin-top: 0.3rem; /* Adjust margin to separate from the game board */
        margin-bottom: 0.5rem; /* Adjust margin to separate from the game board */
    }
}

@media only screen and (max-width: 400px) {
    .game {
        height: 40vmin;
        width: 40vmin;
    }

    .box {
        height: 12vmin;
        width: 12vmin;
        font-size: 5vmin;
        margin: 0 0.4vmin; /* Adjust margin for spacing between boxes */
    }

    #msg {
        font-size: 5vmin;
    }

    .Msg-container {
        height: 15vmin;
    }

    #newBtn,
    #Reset {
        margin-top: 0.2rem; /* Adjust margin to separate from the game board */
        margin-bottom: 0.3rem; /* Adjust margin to separate from the game board */
    }
}
